
    <main>

                 <div>
    {{#if errors}}
      <div class="errorContainer">
        {{#each errors}}
          <p>{{this}}</p>
        {{/each}}
      </div>
    {{/if}}
  </div>
        <section id="edit-container">
            <div class="edit-container-info">
                <h1>Edit Announcement</h1>
                
                {{#with crypto}}
                <form method="POST" action="/crypto/{{_id}}/edit">
                    <label>Name:</label>
                    <input type="text" id="name" name="name" value="{{name}}">
                    <label>Image:</label>
                    <input type="text" id="image" name="imageUrl" value="{{imageUrl}}">
                    <label>Price:</label>
                    <input type="number" id="price" name="price" value="{{price}}">
                    <label>Description:</label>
                    <textarea name="description"
                        id="description">{{description}}</textarea>
                    <label>Payment method:</label>
                    <select id="payment" name="payment" value="{{payment}}">
                        <option value="crypto-wallet">Crypto Wallet</option>
                        <option value="credit-card">Credit Card</option>
                        <option value="debit-card">Debit Card</option>
                        <option value="paypal" selected>PayPal</option>
                    </select>
                    <input type="submit" id="btn" value="EDIT"></input>
                </form>
                {{/with}}
            </div>
        </section>
    </main>
